# Auto detect text files and perform LF normalization
* text=auto
freeglut-2.8-x64/* linguist-vendored
freeglut-2.8-x86/* linguist-vendored
glew-1.9.0-x64/* linguist-vendored
glew-1.9.0-x86/* linguist-vendored
MarsRover/models/* linguist-vendored
